NODE_ENV=development
PORT=3002
GRPC_URL=0.0.0.0:50051
POSTGRES_USER=vox2vocal
POSTGRES_PASSWORD=vox2vocal
POSTGRES_DB=vox2vocal
DATABASE_URL=postgresql://vox2vocal:vox2vocal@postgres:5432/vox2vocal?schema=users

# Use this value when connecting from the host machine through port-forward.
# kubectl port-forward -n vox2vocal svc/postgres 5432:5432
# DATABASE_URL=postgresql://vox2vocal:vox2vocal@localhost:5432/vox2vocal?schema=users
